// Define variables for your color scheme

// For example:
$red: #FFA69E;
$blue: #aed9e0;
$blue-light: #bde7df;
$yellow: #f6edd0;
$orange: rgb(247, 189, 138);
$green: #63f3b2;
$gray: #0E0000;
$light-gray: white;
$ivory: #FFFDF7;
