// Define variables for your color scheme

// For example:
$red: #FFA69E;
$blue: #AED9E0;
$blue-light: #bde7df;
$yellow: #f6edd0;
$orange: rgb(247, 189, 138);
$green: #63f3b2;
$gray: #0E0000;
$light-gray: #F4F4F4;
