// Specific CSS for your home-page

.container-home {
  padding: 10px;
  background-color: $light-gray;
}

.container-home h1 {
  margin-left: 8px;
  color: $gray;
}

// .card-memory-timeline {
//   display: flex;
//   grid-template-columns: 1fr;
//   grid-gap: 1rem;
//   padding: 0px;
//   text-decoration: none;
//   margin: 1rem 0;
// }

.card-memory-timeline img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  height: 260px;
}

.card-memory-timeline h2 {
  // font-size: 16px;
  // font-weight: bold;
  margin: 0;
  // overflow: hidden;
  // text-overflow: ellipsis;
  white-space: nowrap;
  // width: 55vw;
  font-size: 100%;
  text-wrap: wrap;
  width: 100%;
}

.card-memory-timeline p {
  // font-size: 12px;
  // line-height: 1.4;
  // opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 55vw;
  color: gray;
  font-weight: 400;
  font-size: 11px;
}

.baby-avatar-container {
  display: flex;
  gap: 10px;
  padding-right: 10px;
}
