// Specific CSS for your home-page

.container-home {
  padding: 10px 0;
  background-color: $ivory;
  // padding: 10px;
  // min-height: 85vh;
}

.container-memories {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.8rem;
  padding: 1rem;
  padding-bottom: 5rem;
}

.card-memory-timeline img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  height: 260px;
}

.card-memory-timeline h2 {
  // font-size: 16px;
  // font-weight: bold;
  margin: 0;
  // overflow: hidden;
  // text-overflow: ellipsis;
  white-space: nowrap;
  // width: 55vw;
  font-size: 100%;
  text-wrap: wrap;
  width: 100%;
}

.card-memory-timeline p {
  margin-bottom: 0;
  margin-top: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 55vw;
  color: gray;
  font-weight: 400;
  font-size: 11px;
}

.baby-avatar-container {
  display: flex;
  gap: 10px;
  padding-right: 10px;
}
