// Specific CSS for your home-page

.container-home {
  padding: 12px;
  background-color: $light-gray;
}

.container-home h1{
 margin-left: 8px;
 color: $gray;
}

.card-memory-timeline {
  display: flex;
  flex-wrap: wrap;
  // flex-direction: column;
  align-items: center;
  padding: 0px;
}

.card-memory {
  margin-bottom: 5px; /* Espacement entre chaque carte */
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 30%; /* Ajuster la largeur à 100% pour occuper toute la largeur de la timeline */
  border-radius: 6px;
  padding: 2px;
  background-color: $light-gray;
  margin: 4px;
}

.card-memory-infos {
  padding: 4px;
  align-items: center;
}

.card-memory-timeline img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  padding: 4px;
}

.card-memory-timeline h2 {
  // font-size: 16px;
  // font-weight: bold;
  margin: 0;
  // overflow: hidden;
  // text-overflow: ellipsis;
  white-space: nowrap;
  // width: 55vw;
  font-size: 100%;
  text-wrap: wrap;
  width: 100%;
}

.card-memory-timeline p {
  // font-size: 12px;
  // line-height: 1.4;
  // opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 55vw;
  color: gray;
  font-weight: 400;
  font-size: 11px;
}
