.memory-medias {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-gap: 5px;
  > .row {
    padding: 0 20px;
  }
}

.memory-content {
  // box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 4px;
  padding: 0 10px 10px 10px;
  // background-color: white;
}

.memory-comments {
  // box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 4px;
  padding: 10px;
  // background-color: white;
}

.modal-content {
  top: 180px;
  border-radius: 20px;
  background-color: transparent;
}
.modal-body {
  padding: 0 !important;
}
.baby-media {
  border-radius: 20px;
}

.babies-ages {
  opacity: 0.5;
  margin: 8px !important;
}
.wrapper
{
  margin-top: 20px;
  margin-bottom: 20px;
}

.divider
{
	position: relative;
	// margin-top: 25px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

.row {
  flex-grow: 1;
  .col-8 {
    padding: 3px !important;
  }
}

.picture {
  position: relative;
  border-radius: 20px;
  padding: 0;
  padding-bottom: 3px;
}

.linked-events {
  width: 100%;
  padding: 10px;
  background-color: $red;
  border-radius: 20px;
  a {
    text-decoration: none !important;
    color: white;
  }
}

.author-signature {
  padding: 0 16px !important;
}

.linked-memory {
  margin-top: 0px !important;
}
