.memory-medias {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-gap: 5px;
}
.memory-content {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 4px;
  padding: 10px;
  background-color: white;
}

.memory-comments {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 4px;
  padding: 10px;
  background-color: white;
}

.modal-content {
  top: 180px;
  border-radius: 20px;
  background-color: transparent;
}
.modal-body {
  padding: 0 !important;
}
.baby-media {
  border-radius: 20px;
}

.babies-ages {
  opacity: 0.5;
}
.wrapper
{
	padding-bottom: 25px;
}

.divider
{
	position: relative;
	// margin-top: 25px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}
