.timeline {
  background-image: image-url("timeline_background.png");
  background-repeat: repeat-y;
  background-position: center;
}

.timeline-cards {
}

.timeline-card {
  display: flex;
}

.timeline-card-event {
  font-weight: bold;
  font-family: $title-font;
}

.timeline-card-infos {
  padding: 3px;
  width: 100px;
}

.infos-right {
  text-align: right;
}

.card-right {
  // float: right;
  justify-content: end;
}
