  <div class="button-container">

      <button class="button">
        <i class="fa-solid fa-house icon"></i>
      </button>

      <button class="button">
        <i class="fa-solid fa-timeline"></i>
      </button>

      <%= link_to new_memory_path, class: "btn btn-danger" do %>
        <i class="fa-solid fa-plus icon-plus"></i>
      <% end %>

      <button class="button">
        <i class="fa-solid fa-map-location-dot icon"></i>
      </button>

      <button class="button">
        <i class="fa-solid fa-medal icon"></i>
      </button>

    </div>
