  <div class="button-container">

      <button class="button">
        <i class="fa-solid fa-house icon"></i>
      </button>

      <button class="button">
        <i class="fa-solid fa-timeline"></i>
      </button>

      <a href="www.lewagon.com" class="btn btn-danger"><i class="fa-solid fa-plus icon-plus" ></i></a>

      <button class="button">
        <i class="fa-solid fa-map-location-dot icon"></i>
      </button>

      <button class="button">
        <i class="fa-solid fa-medal icon"></i>
      </button>

    </div>
