  <div class="button-container">

      <button class="button">
        <i class="fa-solid fa-house icon"></i>
      </button>

      <button class="button">
        <i class="fa-solid fa-timeline"></i>
      </button>

      <%= button_to "<i class='fa-solid fa-plus icon-plus' ></i>".html_safe, new_memory_path,
      :class => "btn btn-danger", :method => :get %>

      <button class="button">
        <i class="fa-solid fa-map-location-dot icon"></i>
      </button>

      <button class="button">
        <i class="fa-solid fa-medal icon"></i>
      </button>

    </div>
