<%= link_to memory, class:"card-memory", style:"background-image: url(#{cl_image_path memory.medias.reverse[0].key})" do %>
  <% key_memories.each do |key_memory| %>
    <div class="card-memory-event"><%= key_memory.baby.nickname.capitalize()%> - <%= key_memory.event%></div>
  <% end %>
    <div class="card-memory-date"><%= memory.date.strftime('%d/%m/%Y') %></div>
<% end %>
