<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">First time <%= timeline_event[:event] %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= timeline_event[:days] %> days</h6>
    <p class="card-text"><%= timeline_event[:baby].nickname.capitalize() %></p>
  </div>
</div>
