<div class="container-home">
  <div class="container-memories">
    <% @memories.each do |memory| %>
      <%= render "shared/memory_card", memory: memory, key_memories: memory.key_memories.where.not(event: "") %>
    <% end %>
  </div>
</div>
</div>
