<h1>Timeline</h1>

<div class="card-memory-timeline">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" col-sm-3/>
  <div class="card-memory-infos">
    <h2>Memory name</h2>
    <p>Memory description</p>
  </div>
</div>




<p>Find me in app/views/pages/home.html.erb</p>

<a href="www.lewagon.com" class="btn btn-primary">test btn</a>
<a href="www.lewagon.com" class="btn btn-danger">test btn</a>
<a href="www.lewagon.com" class="btn btn-warning">test btn</a>
<a href="www.lewagon.com" class="btn btn-success">test btn</a>
<a href="www.lewagon.com" class="btn btn-info">test btn</a>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab ipsum porro quisquam voluptatibus beatae consectetur est repudiandae doloremque ad.</p>

<h1>test oui bonjour</h1>
