<div class="container">
  <div class="timeline">
  <div class="timeline-left">
    <div class="timeline-cards">
    <% @timeline[0].each do |timeline_event| %>
      <%= link_to timeline_event[:memory] do %>
      <%= render "timeline_card", timeline_event: timeline_event %>
      <% end %>
    <% end %>
    </div>
  </div>
  <div class="timeline-bar">
  </div>
  <div class="timeline-right"></div>
    <div class="timeline-cards">
      <% @timeline[1].each do |timeline_event| %>
        <%= link_to timeline_event[:memory] do %>
          <%= render "timeline_card", timeline_event: timeline_event %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
