<div class="container">
  <div class="timeline">
    <div class="timeline-cards">
    <% @timeline.each do |timeline_event| %>
      <%= render "timeline_card", timeline_event: timeline_event %>
    <% end %>
    </div>
  </div>
</div>
