.card-memory {
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  display: flex;
  overflow: hidden;
  height: 150px;
}

.card-memory-infos {
  align-items: center;
  text-decoration: none;
  padding: 10px;
}

.card-memory-infos h2 {
  text-decoration: none;
}

.card-memory-img {
  width: 150px;
  object-fit: cover;
}

.card-memory p {
  margin-bottom: 0px;
}
