.card-memory {
  text-decoration: none;
  display: block;
  color: black;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 9px;
  position: relative;
}

.card-memory:nth-of-type(even) {
  transform: translateY(2rem);
}

.card-memory-event {
  border: solid 2px #FFA69E;
}

.card-memory-infos {
  position: absolute;
  right: 0;
  bottom: 0rem;
  padding: 2px 5px;
  border-radius: 5px 0 5px 0;
  background: white;
  font-family: $body-font;
  font-size: 0.8rem;
  color:grey;
}

.color-red {
  color: $red;
}
