.card-memory {
  text-decoration: none;
  display: block;
  color: black;
  width: 100%;
  aspect-ratio: 1 / 1;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 9px;
  position: relative;
}

.card-memory:nth-of-type(even) {
  transform: translateY(2rem);
}

.card-memory-event {
  position: absolute;
  right: 0;
  bottom: 2rem;
  background:white;

}
.card-memory-date {
  position: absolute;
  right: 0;
  bottom: 0rem;
  background:white;

}
